*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    background:#666;
}
.top-bar {
    width: 1228px;
    margin: 0 auto;
    height: 40px;
    .left{
        list-style: none;
        li{
            a:hover{
                color: white;
            }
            float: left;
            a{
                color: rgb(204, 204, 204);
                font-size: 11px;
                text-decoration: none;
                line-height: 40px;
                padding: 0 42px 0 0;
            }
        }
    }
    .right{
        float: right;
        list-style: none;
        li{
            float: left;
            a:hover{
                color: white;
            }
            a{
                color: rgb(204, 204, 204);
                font-size: 11px;
                text-decoration: none;
                line-height: 40px;
                padding: 0 42px 0 0;
            }
        }
    }
}
.nav{
    width: 1300px;
    margin: 0 auto;
    height: 80px;
    // background:pink;
    img{
        float: left;
        margin: 17px auto;
    }
    .nav-ul-left { 
        list-style: none;
        margin-left: 80px;
        li{
            float: left;
       
            a{
                font-size: 14px;
                color: #333;
                display: block;
                text-decoration: none;
                line-height: 80px;
                padding: 0 0 0 40px;
            }
        }
        .myshop{
           line-height: 80px;
        }
    }
}